{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="hire-request">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ recipient_profile.name }} - Send Hire Request</div>

                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Send Hire Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
